In [7]:
import pandas as pd

In [8]:
all_indices = pd.read_csv('./Dataset/all_indices.csv')
all_indices

,Time Series,Date,10/3/2023,10/2/2023,9/29/2023,9/28/2023,9/27/2023,9/26/2023,9/25/2023,9/22/2023,...,1/18/2001,1/17/2001,1/16/2001,1/15/2001,1/12/2001,1/11/2001,1/10/2001,1/9/2001,1/8/2001,1/5/2001
0,$RTRE,Open,145.27,148.71,151.02,148.41,150.49,152.81,155.30,158.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,$RTRE,High,145.49,149.06,151.89,149.79,150.76,153.49,155.54,158.06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,$RTRE,Low,141.88,145.95,149.45,147.78,148.16,149.97,153.65,156.52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,$RTRE,Close,143.13,146.52,149.48,149.72,148.41,150.18,153.77,156.66,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,$RTRE,Volume,7384351,6629890,8393055,5388012,8163500,7460259,8751850,4502851,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,$TXCI,Open,"1,265.10","1,295.96","1,307.69","1,289.64","1,302.75","1,307.15","1,307.08","1,317.62",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,$TXCI,High,"1,269.26","1,296.10","1,307.81","1,303.24","1,302.81","1,311.21","1,316.18","1,320.14",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,$TXCI,Low,"1,257.75","1,270.83","1,295.93","1,287.50","1,282.43","1,297.84","1,303.40","1,310.58",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,$TXCI,Close,"1,262.60","1,273.11","1,296.72","1,300.34","1,289.64","1,297.87","1,312.94","1,311.24",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,$TXCI,Volume,137084492,142558301,121146963,118915778,131598676,142863795,131851275,104532513,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN